:root {
  /* colors */
  --c-prim: blue;
  --c-light: white;
  --c-light-2: rgba(0,0,0,.1);
  /* --c-light-3: rgba(255,255,255,.65); */
  --c-light-3: rgb(246,246,246);
  --c-dark: #020219;
  /* --c-dark-2: rgba(50, 50, 50, 0.71); */
  --c-dark-2: rgb(36 36 42);
  --c-dark-3: #1a202c;
  --c-dark-4: grey;
  
  --body-bg: white;
  --body-grad: linear-gradient(to bottom, rgba(128, 0, 128, 0.1), var(--c-light-2) 25%);
  --card-bg: var(--c-light-3);
  --body-text: var(--c-dark-3);
  --radius: 8px;
}

:root[theme="dark"] {
  --c-prim: #7f7fff;
  --body-bg: var(--c-dark);
  --body-grad: linear-gradient(to bottom, rgba(0, 0, 255, 0.1), var(--c-dark) 25%);
  /* --body-grad: linear-gradient(125deg, #00103a 0%, #3e5f77 100%); */
  /* --body-grad: linear-gradient(to bottom, rgba(128, 0, 128, 0.1), var(--c-dark) 25%); */
  --body-text: var(--c-light);
  --card-bg: var(--c-dark-2);
}

body {
  background-color: var(--body-bg);
  background-image: var(--body-grad);
  color: var(--body-text);
  font-family: 'Montserrat', sans-serif;
  /* transition: background-color .2s, color .2s; */
}

header {
  position: absolute;
  width: 100%;
  height: 80px;
  padding: 30px 0;
  z-index: 1;
}

footer {
  background-color: rgba(192, 192, 192, 0.658);
  padding: 20px 0;
}

section {
  padding-top:    50px;
  padding-bottom: 50px;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  /* font-family: 'Open Sans'; */
  font-size: 60px;
  line-height: 1;
  font-weight: 700;
}

h2 {
  font-size: 24px;
  line-height: 1;
  font-weight: 700;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  margin: 0;
  margin-top: 20px;
  line-height: 1.6;
}

p:last-child { margin-top: 0; }

.txt-prim { color: var(--c-prim); }
.txt-alt { color: var(--c-dark-4); }
.txt-center { text-align: center; }
.txt-italic { font-style: italic; }
.fw-regular { font-weight: 400; }
.fw-bold { font-weight: 700; }

.mt-0 { margin-top: 0; }
.mt-5 { margin-top: 5px; }

.p-relative { position: relative; }
.p-absolute { position: absolute; }

.logo {
  font-size: 20px;
  color: var(--body-text);
  font-weight: 600;
}

.hero-btn {
  margin-top: 40px;
  padding: 10px 20px;
  font-size: 15px;
  color: white;
  background-color: var(--c-dark-3);
  border: none;
  border-radius: var(--radius);
}

.skill-card,
.profile-card {
  background-color: var(--card-bg);
  box-shadow: 0 4px 20px -3px rgba(0,0,0,.15);
}



/* @media (prefers-color-scheme: dark) {
  :root {
    --body-bg: var(--bg-dark);
    --body-text: var(--text-light);
  }
} */