:root {
  /* colors */
  --accent: #bf34bf;

  // tech colors
  --tech-color-transparency: 0.2;
  --html: rgba(241, 101, 41, var(--tech-color-transparency));
  --css:  rgba(38, 77, 228, var(--tech-color-transparency));
  --js:  rgba(200, 186, 73, var(--tech-color-transparency));
  --scss:  rgba(205, 103, 153, var(--tech-color-transparency));
  --vue:  rgba(65, 184, 131, var(--tech-color-transparency));
  --tailwind: rgba(29, 169, 187, var(--tech-color-transparency));
  --git: rgba(240, 81, 51, var(--tech-color-transparency));
  --grunt: rgba(251, 169, 25, var(--tech-color-transparency));

  /* ui */
  --body-bg: #f0f1f3;
  --body-gradient: linear-gradient(to bottom, rgba(128, 0, 128, 0.08), transparent 25%);
  --body-text: #1a202c;
  --body-text-alt: grey;
  --card-bg: white;
  --transition-duration: .2s;
  // --card-shadow: 0 10px 20px -3px rgba(0,0,0,.15);
  --card-shadow: 0 2px 10px -4px rgba(0,0,0,.1);


  height: 100%;
}

:root[theme="dark"] {
  --body-bg: #020219;
  // --body-gradient: linear-gradient(to bottom, rgba(0, 0, 255, 0.1), transparent 25%);
  --body-gradient: linear-gradient(to bottom, rgba(191, 52, 191, 0.1), transparent 25%);
  --body-text: white;
  /* --card-bg: #24242a;
  --card-bg: #28283a;
  --card-bg: #202031; */
  --card-bg: #1e1e2d;
  --card-shadow: none;

  footer {
    background-color: rgba(36, 36, 42, 0.4);
  }
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 80px;
  background-color: var(--body-bg);
  background-image: var(--body-gradient);
  color: var(--body-text);
  font-family: 'Montserrat', sans-serif;
  transition: background-color var(--transition-duration), color var(--transition-duration);
}

header {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 25px 0;
  z-index: 1;
}

main {
  overflow: hidden;
}

footer {
  background-color: rgba(36, 36, 42, 0.05);
  padding: 20px 0;

  a {
    display: inline-block;
    margin-top: 10px;
  }
}

section {
  padding-top:    50px;
  padding-bottom: 50px;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-size: 58px;
  line-height: 1;
  font-weight: 700;

  // emoji
  span {
    font-size: 50px;
  }
}

h2 {
  font-size: 24px;
  line-height: 1;
  font-weight: 700;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  margin: 0;
  margin-top: 20px;
  line-height: 1.6;
}

p:first-child { margin-top: 0; }

a {
  color: var(--accent);
}


/* @media (prefers-color-scheme: dark) {
  :root {
    --body-bg: var(--bg-dark);
    --body-text: var(--text-light);
  }
} */