:root {
  height: 100%;
}

:root[theme="dark"] {
  .profile-bubble {
    background-color: #262637;
  }

  .profile-app {
    &--1 {
      background-color: #410488;
    }

    &--2 {
      background-color: #033c4f;
    }
  }

  footer {
    background-color: rgba(36, 36, 42, 0.4);
  }
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--theme-bg);
  color: var(--theme-on-bg);
  font-family: 'Poppins', sans-serif;
  transition-property: background-color, color;
  transition-duration: var(--transition);
}

header {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 50px 0 20px;
  z-index: 1;
}

section {
  padding-top:    30px;
  padding-bottom: 30px;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-size: rem(50px);
  line-height: 1;
  font-weight: 700;
}

h2 {
  position: relative;
  font-size: rem(20px);
  line-height: 1;
  font-weight: 600;

  // line
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    height: 1px;
    background: linear-gradient(to right, rgba(192, 192, 192, 0.63), transparent 60%);
    background: linear-gradient(to right, #8e4fbe, transparent 60%);
    left: 150px;
  }
}

h3 {
  font-size: rem(16px);
  line-height: 1.4;
  font-weight: 500;
}

p {
  margin: 0;
  margin-top: 20px;
  font-size: rem(16px);
  line-height: 1.6;
  color: var(--theme-on-bg--alt);

  footer & {
    font-size: rem(13px);
    font-weight: 300;
  }
}

p:first-child { margin-top: 0; }

a {
  font-size: rem(16px);
  color: var(--theme-primary);
  text-decoration: none;

  footer & {
    font-size: rem(13px);
    font-weight: 300;
  }
}

footer {
  padding: 20px 0;
  background-color: #E7EFF4;
  margin-top: 30px;
}


/* @media (prefers-color-scheme: dark) {
  :root {
  }
} */