:root {
  height: 100%;
}

:root[theme="dark"] {
  .profile-widget {
    &__feature {
      background-color: #262637;
    }

    &__app {
      &--xd {
        background-color: #410488;
      }

      &--figma {
        background-color: #033c4f;
      }
    }
  }

  footer {
    background-color: rgba(36, 36, 42, 0.4);
  }
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--theme-bg);
  color: var(--theme-on-bg);
  font-size: $browser-context;
  font-family: 'Poppins', sans-serif;
  transition-property: background-color, color;
  transition-duration: var(--transition);
}

header {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 50px 0 20px;
  z-index: 1;
}

footer {
  padding-top: 20px;
  padding-bottom: 30px;
  background-color: #E7EFF4;
  font-size: rem(13px);
  font-weight: 300;

  a {
    display: inline-block;
    margin-top: 10px;
  }
}

section {
  padding-top:    40px;
  padding-bottom: 40px;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-size: rem(50px);
  line-height: 1;
  font-weight: 700;
}

h2 {
  font-size: rem(24px);
  line-height: 1;
  font-weight: 700;
}

h3 {
  font-size: rem(16px);
  font-weight: 500;
}

p {
  margin: 0;
  margin-top: 20px;
  line-height: 1.6;
  color: var(--theme-on-bg--alt);
}

p:first-child { margin-top: 0; }

a {
  color: var(--theme-primary);
  text-decoration: none;
}


/* @media (prefers-color-scheme: dark) {
  :root {
  }
} */