.txt-accent { color: var(--accent); }
.txt-alt { color: var(--body-text-alt); }
.txt-center { text-align: center; }
.txt-italic { font-style: italic; }
.fw-regular { font-weight: 400; }
.fw-bold { font-weight: 700; }
.txt-50 { font-size: 50px;}

.mt-0 { margin-top: 0; }
.mt-5 { margin-top: 5px; }

.p-relative { position: relative; }
.p-absolute { position: absolute; }