.txt-prim { color: var(--prim); }
.txt-alt { color: var(--dark-4); }
.txt-center { text-align: center; }
.txt-italic { font-style: italic; }
.fw-regular { font-weight: 400; }
.fw-bold { font-weight: 700; }

.mt-0 { margin-top: 0; }
.mt-5 { margin-top: 5px; }

.p-relative { position: relative; }
.p-absolute { position: absolute; }