.container {
  width: 100%;
  max-width: 1190px;
  padding: 0 60px;
  margin: 0 auto;
}

.logo {
  font-size: rem(20px);
  color: var(--theme-primary);
  font-weight: 600;
  text-decoration: underline;
}

.theme-picker {
  display: flex;
  min-width: 117px;
  flex-shrink: 0;
  border: none;

  legend {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
}

.theme-option {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.theme-label {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  margin: 0 2px;
  font-size: rem(20px);
  font-weight: 600;
  color: orange;
  filter: grayscale(1);
  border-radius: 50%;
  cursor: pointer;
  
  img {
    display: block;
  }

  // active state
  .theme-option:checked + & {
    filter: none;
    background-color: rgba(0,0,0,.05);
  }
}


.hero {
  padding: 200px 0 110px;
  background-image: linear-gradient(180deg, rgba(175, 72, 255, .06) 0%, transparent 100%);
}

.intro {
  max-width: 480px;
  flex-shrink: 0;
}

.profile {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 245px;
  margin-right: 130px;
  flex-direction: column;
  align-items: center;
  padding: 35px 25px 25px;
  text-align: center;
  background-color: var(--theme-surface);
  box-shadow: var(--shadow-surface);
  border-radius: 13px;
  transition: background-color var(--transition);

  &__avatar {
    width: 90px;
    height: 90px;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
    box-shadow: inherit;
  }

  &__job {
    position: relative;
    margin-top: -15px;
    padding: 5px 10px;
    font-size: rem(11px);
    font-weight: 700;
    color: white;
    background-image: linear-gradient(135deg, #FF26B2 0%, #851BD9 64.06%, #3F0FFF 100%);;
    border-radius: 40px;
  }

  &__name {
    margin-top: 15px;
    font-weight: 700;
    color: var(--theme-on-bg);
    line-height: 1;
  }

  &__loc {
    margin-top: 5px;
    font-size: rem(13px);
  }
}

.profile-bubble {
  position: absolute;
  display: flex;
  align-items: center;
  padding: 16px 24px;
  font-size: rem(15px);
  color: var(--theme-on-bg--alt);
  background-color: var(--theme-surface);
  border-radius: 16px;
  box-shadow: inherit;
  transition-property: background-color, color;
  transition-duration: var(--transition);

  &--1 {
    top: -75px;
    left: -50px;
  }

  &--2 {
    top: 85px;
    left: -135px;
  }

  &--3 {
    top: 120px;
    right: -123px;
  }

  &--4 {
    bottom: -80px;
    right: -30px;
  }

  // icon
  &__icon {
    margin-right: 10px;
  }
}

.profile-app {
  position: absolute;
  display: flex;
  width: 61px;
  height: 61px;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  box-shadow: inherit;
  transition: inherit;

  &--1 {
    top: 25px;
    right: -40px;
    background-color: #F4EEFB;
  }

  &--2 {
    bottom: -40px;
    left: 15px;
    background-color: #ebf7fb;
  }
}

.cards-wrapper {
  display: grid;
  margin-top: 35px;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.card {
  padding: 20px;
  background-color: var(--theme-surface);
  border-radius: 13px;
  box-shadow: var(--shadow-surface);
  transition: background-color var(--transition);

  &__text {
    margin-top: 15px;
    font-size: rem(14px);
  }
}