.container {
  width: 100%;
  max-width: 1130px;
  padding: 0 30px;
  margin: 0 auto;
}

.logo {
  font-size: 20px;
  color: var(--theme-on-bg);
  font-weight: 600;
}

.theme-picker {
  display: flex;
  border: none;

  legend {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
}

.theme-option {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.theme-label {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin: 0 2px;
  font-size: 20px;
  font-weight: 600;
  color: orange;
  filter: grayscale(1);
  border-radius: 50%;
  cursor: pointer;
  
  img {
    display: block;
  }

  // active state
  .theme-option:checked + & {
    filter: none;
    background-color: rgba(0,0,0,.05);
  }
}


.hero {
  position: relative;
  padding-top: 120px;
  background-image: linear-gradient(180deg, rgba(175, 72, 255, .06) 0%, transparent 100%);
}

.intro {
  max-width: 480px;
  flex-shrink: 0;
  font-size: rem(15px);
}

.profile-widget-wrapper {
  width: 100%;
  padding: 90px 135px;
}

.profile-widget {
  position: relative;
  display: flex;
  float: right;
  width: 100%;
  max-width: 245px; /* continue here, how would this behave responsively to determine how to size it */
  flex-direction: column;
  align-items: center;
  padding: 35px 25px 25px;
  text-align: center;
  background-color: var(--theme-surface);
  box-shadow: var(--shadow-surface);
  border-radius: 13px;

  &__avatar {
    width: 90px;
    height: 90px;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
    box-shadow: inherit;
  }

  &__pos {
    position: relative;
    margin-top: -15px;
    padding: 5px 10px;
    font-size: 11px;
    font-weight: 700;
    color: white;
    background-image: linear-gradient(135deg, #FF26B2 0%, #851BD9 64.06%, #3F0FFF 100%);;
    border-radius: 40px;
  }

  &__name {
    margin-top: 15px;
    font-weight: 700;
    color: var(--theme-on-bg);
    line-height: 1;
  }

  &__loc {
    margin-top: 5px;
    font-size: 13px;
    color: var(--theme-on-bg--alt);
  }

  &__feature {
    position: absolute;
    display: flex;
    align-items: center;
    padding: 16px 24px;
    font-size: rem(15px);
    color: var(--theme-on-bg--alt);
    background-color: var(--theme-surface);
    border-radius: 16px;
    box-shadow: inherit;


    &--pix {
      top: -85px;
      left: -50px;
    }

    &--res {
      top: 40%;
      left: -135px;
    }

    &--cb {
      top: 55%;
      right: -150px;
    }

    &--perf {
      bottom: -80px;
      right: -30px;
    }

    // icon
    img {
      margin-right: 5px;
    }
  }

  &__app {
    position: absolute;
    display: flex;
    width: 61px;
    height: 61px;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    box-shadow: inherit;

    &--xd {
      top: 25px;
      right: -40px;
      background-color: #F4EEFB;
    }

    &--figma {
      bottom: -40px;
      left: 15px;
      background-color: #ebf7fb;
    }
  }
}

.tech-wrapper {
  position: relative;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 30px;
}

.tech-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 135px;
  padding: 15px 25px;
  text-transform: uppercase;
  background-color: var(--theme-surface);
  box-shadow: var(--shadow-surface);
  overflow: hidden;

  &__logo-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 55px;
    height: 55px;
    padding: 14px;
    border-radius: 6px;
  }

  // logo
  img {
    height: 100%;
  }

  h3 {
    margin-top: 10px;
  }
}

.projects-wrapper {
  display: grid;
  margin-top: 25px;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px
}

.project-card {
  position: relative;
  min-height: 135px;
  background-color: var(--theme-surface);
  box-shadow: var(--shadow-surface);
  overflow: hidden;
  
  &__img {
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
  }
  
  &__content {
    position: relative;
    padding: 24px;
    z-index: 1;
  }
}