@media (max-width: 1199px) {
  body {
    padding-top: 70px;
  }

  header {
    padding: 20px 0;
  }

  h2 {
    text-align: center;
  }

  .container {
    max-width: 800px;
  }

  .hero {
    height: auto;
    max-height: unset;

    &__content {
      text-align: center;
    }
  }

  .profile-wrapper {
    margin-top: 80px;
    margin-right: 0;
    justify-content: center;
  }

  .profile {
    max-height: initial;
  }
}

@media (max-width: 991px) {
  .hero {
    padding-top: 20px;
  }
}

@media (max-width: 700px) {
  .profile {
    &__service {
      &--1 {
        left: -60px;
      }

      &--2 {
        left: -100px;
      }

      &--3 {
        right: -100px;
      }
    }
  }
}

@media (max-width: 575px) {
  section {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .profile-wrapper {
    margin-top: 40px;
    padding: 50px 40px 30px;
  }

  .profile {
    /* &__service {
      &--1 {
        left: -40px;
      }

      &--2 {
        top: auto;
        bottom: -50px;
        left: -40px;
      }

      &--3 {
        top: auto;
        right: -40px;
        bottom: -50px;
      }
    }

    &__app {
      &--1 {

      }

      &--2 {
        top: 50%;
        left: -20px;
        bottom: auto;
      }
    } */
  }
}

@media (max-width: 400px) {
  h1 {
    font-size: 52px;

    // emoji
    span {
      font-size: 44px;
    }
  }
}