@media (max-width: 1199px) {
  h2 {
    text-align: center;
  }

  .container {
    max-width: 800px;
  }

  .hero {
    height: auto;
    max-height: unset;

    &__content {
      text-align: center;
    }
  }

  .profile {
    margin-top: 100px;
  }
}

@media (max-width: 700px) {
  .profile {
    &__service {
      &--top {
        left: -60px;
      }

      &--left {
        left: -100px;
      }

      &--right {
        right: -100px;
      }
    }
  }
}

@media (max-width: 575px) {
  .profile {
    overflow: hidden;
  }

  .skills-wrapper {
    flex-wrap: wrap;
  }
}

@media (max-width: 400px) {
  h1 {
    font-size: 52px;

    // emoji
    span {
      font-size: 44px;
    }
  }
}