@media (max-width: 1100px) {
  .intro {
    max-width: 420px;
  }

  .profile {
    max-width: 230px;
    margin-right: 100px;
  }

  .profile-bubble {
    &--2 {
      left: -115px;
    }

    &--3 {
      right: -100px;
    }
  }
}

@media (max-width: 991px) {
  .align-items-md-start {
    align-items: flex-start !important;
  }

  .flex-md-column {
    flex-direction: column;
  }

  .container {
    max-width: 780px;
  }

  .hero {
    padding-top: 150px;
  }

  .intro {
    max-width: 100%;
  }
  
  .profile {
    margin: 100px auto 0;
  }
}

@media (max-width: 800px) {
  .cards-wrapper {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 575px) {
  header {
    padding-top: 20px;
  }

  footer {
    margin-top: 10px;
  }

  h1 {
    font-size: rem(46px);
  }

  .container {
    max-width: 480px;
    padding: 0 25px;
  }

  .hero {
    padding-top: 120px;
  }

  .profile {
    margin-top: 130px;
  }
  
  .profile-bubble {
    &--1 {
      top: -115px;
      left: 70px;
    }

    &--2 {
      top: -40px;
      left: -40px;
    }

    &--3 {
      top: auto;
      right: -30px;
      bottom: -40px;
    }

    &--4 {
      bottom: -80px;
      right: auto;
      left: 0;
    }
  }

  .profile-app {
    &--2 {
      bottom: 20px;
      left: -50px;
    }
  }

  .cards-wrapper {
    margin-top: 30px;
    grid-gap: 25px;
  }
}