:root {
  // theme
  --theme-primary: #AF48FF;

  --theme-bg: #FBFBFC;
  --theme-on-bg: #25323D;
  --theme-on-bg--alt: #5D87A8;
  --theme-surface: white;
  
  // shadows
  --shadow-surface: 0 40px 30px rgba(25, 25, 46, 0.04);

  // transition durations
  --transition: .3s;
}

:root[theme="dark"] {
  --theme-primary: #c376ff;
  --theme-bg: #020219;
  --theme-on-bg: white;
  --theme-on-bg--alt: #b8b8b8;
  --theme-surface: #1e1e2d;

  --shadow-surface: none;
}