@import 'ress';
@import 'default';
@import 'grid';
@import 'slider-controls';

.container {
  width: 100%;
  max-width: 1100px;
  padding: 0 30px;
  margin: 0 auto;
}

.logo {
  font-size: 22px;
  color: var(--body-text);
  font-weight: 600;
}

.theme-picker {
  display: flex;
  border: none;

  legend {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
}

.theme-option {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.theme-label {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 35px;
  font-size: 20px;
  font-weight: 600;
  color: var(--accent);
  cursor: pointer;
  filter: grayscale(1);
  
  img {
    display: block;
  }

  // dot
  &::after {
    content: '';
    position: absolute;
    bottom: -10px;
    width: 5px;
    height: 5px;
    background-color: orange;
    border-radius: 50%;
    opacity: 0;
  }

  // active state
  .theme-option:checked + & {
    filter: none;

    // dot
    &::after {
      opacity: 1;
    }
  }
}


.hero {
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 100px;

  &__content {
    max-width: 480px;
    flex-shrink: 0;
  }
}

.profile-wrapper {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-right: 100px;
}

.profile {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 280px;
  max-height: 266px;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  text-align: center;
  background-color: var(--card-bg);
  box-shadow: var(--card-shadow);
  border-radius: 20px;
  transition: background-color var(--transition-duration);

  &__avatar {
    width: 125px;
    height: 125px;
    margin-bottom: 10px;
    border: 5px solid  rgba(255, 255, 255, 0.808);
    border-radius: 50%;
    box-shadow: 0 0 20px 20px rgba(0,0,0,.05);
    object-fit: cover;
    object-position: top;
    // filter: grayscale(1);
  }

  &__position {
    position: relative;
    margin-top: -25px;
    padding: 7px 10px;
    font-size: 12px;
    background: linear-gradient(to bottom right, blue, purple);
    color: white;
    border-radius: 40px;
  }

  &__name {
    line-height: 1.2;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 600;
  }

  &__loc {
    margin-top: 10px;
    font-size: 12px;
    color: grey;
  }

  &__service {
    position: absolute;
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 12px;
    color: grey;
    background-color: inherit;
    border-radius: 8px;
    box-shadow: inherit;

    &--1 {
      top: -50px;
      left: -80px;
    }

    &--2 {
      top: 50%;
      left: -130px;
    }

    &--3 {
      top: 60%;
      right: -120px;
    }

    img {
      margin-right: 10px;
    }
  }

  &__app {
    position: absolute;
    box-shadow: inherit;

    &--1 {
      top: 30px;
      right: -25px;
    }

    &--2 {
      bottom: -25px;
      left: 25px;
    }
  }
}

.skills-wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}

.skill-card {
  position: relative;
  display: flex;
  align-items: center;
  height: 80px;
  margin-bottom: 30px;
  padding: 15px 25px;
  text-transform: uppercase;
  background-color: var(--card-bg);
  border-radius: 14px;
  overflow: hidden;
  box-shadow: var(--card-shadow);
  transition: background-color var(--transition-duration);
  z-index: 0;

  // colorful bg
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: -30px;
    right: 40%;
    height: 100%;
    background-color: var(--html);
    transform: skew(10deg);
    transition: transform var(--transition-duration);
    z-index: -1;
  }

  // line
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 58%;
    width: 3px;
    height: 100%;
    background-color: inherit;
    transform: skew(10deg);
    transition: background-color .3s;
  }

  &--html::before {
    background-color: var(--html);
  }
  &--css::before {
    background-color: var(--css);
  }
  &--js::before {
    background-color: var(--js);
  }
  &--scss::before {
    background-color: var(--scss);
  }
  &--vue::before {
    background-color: var(--vue);
  }
  &--grunt::before {
    background-color: var(--grunt);
  }

  &__logo-wrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-shrink: 0;
    width: 60px;
    height: 100%;
    margin-right: 10px;
  }

  // tech logo
  img {
    height: 70%;
    transition: transform .3s;
  }

  &:hover::before {
    transform: skew(10deg) translateX(100%);
  }

  &:hover::after {
    background-color: var(--html);
  }
}

.big-card {
  background-color: white;
  padding: 20px 30px;
}

@import 'helpers';
@import 'responsive';