@import 'ress';
@import 'fonts';
@import 'default';
@import 'grid';
@import 'slider-controls';

.container {
  width: 100%;
  max-width: 1100px;
  padding: 0 30px;
  margin: 0 auto;
}

.logo {
  font-size: 22px;
  color: var(--theme-on-bg);
  font-weight: 600;
  text-decoration: none;
}

.theme-picker {
  display: flex;
  border: none;

  legend {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
}

.theme-option {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.theme-label {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 35px;
  font-size: 20px;
  font-weight: 600;
  color: orange;
  cursor: pointer;
  filter: grayscale(1);
  
  img {
    display: block;
  }

  // dot
  &::after {
    content: '';
    position: absolute;
    bottom: -10px;
    width: 5px;
    height: 5px;
    background-color: orange;
    border-radius: 50%;
    opacity: 0;
  }

  // active state
  .theme-option:checked + & {
    filter: none;

    // dot
    &::after {
      opacity: 1;
    }
  }
}


.hero {
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 80px;

  &__content {
    max-width: 480px;
    flex-shrink: 0;
  }
}

.profile-wrapper {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-right: 100px;
}

.profile {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 280px;
  max-height: 266px;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  text-align: center;
  background-color: var(--theme-surface);
  background-image: var(--gradient-surface);
  box-shadow: var(--shadow);
  border-radius: 20px;
  transition: background-color var(--transition);

  &__avatar {
    width: 120px;
    height: 120px;
    object-fit: cover;
    object-position: top;
    border: 5px solid rgba(255,255,255,.2);
    border-radius: 50%;
    box-shadow: inherit;
    transition: border var(--transition);
  }

  &__position {
    position: relative;
    margin-top: -15px;
    padding: 7px 10px;
    font-size: 12px;
    background: linear-gradient(to bottom right, blue, purple);
    color: white;
    border-radius: 40px;
  }

  &__name {
    line-height: 1.2;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 600;
  }

  &__loc {
    margin-top: 10px;
    font-size: 12px;
    color: var(--theme-on-bg--alt);
  }

  &__service {
    position: absolute;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    font-size: 12px;
    color: var(--theme-on-bg--alt);
    background-color: var(--theme-surface);
    background-image: var(--gradient-surface);
    border-radius: 13px;
    box-shadow: 0 4px 20px rgba(0,0,0,.1);
    transition: background-color var(--transition);


    &--1 {
      top: -50px;
      left: -80px;
    }

    &--2 {
      top: 50%;
      left: -135px;
    }

    &--3 {
      top: 60%;
      right: -110px;
    }

    &--4 {
      bottom: -50px;
      right: -30px;
    }

    img {
      margin-right: 10px;
    }
  }

  &__app {
    position: absolute;
    box-shadow: inherit;

    &--1 {
      top: 30px;
      right: -25px;
    }

    &--2 {
      bottom: -25px;
      left: 30px;
    }
  }
}

.tech-wrapper {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  margin-top: 40px;
}

.tech {
  position: relative;
  display: flex;
  align-items: center;
  padding: 15px 25px;
  text-transform: uppercase;
  background-color: var(--theme-surface);
  border-radius: 14px;
  overflow: hidden;
  box-shadow: var(--shadow);
  transition-property: background-color;
  transition-duration: var(--transition);

  &__logo-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    padding: 5px;
    border-radius: 50%;
  }

  // logo
  img {
    height: 70%;
  }

  h3 {
    margin-left: 50px;
  }

  // colors
  &--html {
    background-color: var(--theme-html);

    &__logo-wrap {
      background-color: var(--theme-html);
    }
  }

  &--css {
    background-color: var(--theme-css);

    &__logo-wrap {
      background-color: var(--theme-css);
    }
  }

  &--js {
    background-color: var(--theme-js);

    &__logo-wrap {
      background-color: var(--theme-js);
    }
  }

  &--scss {
    background-color: var(--theme-scss);

    &__logo-wrap {
      background-color: var(--theme-scss);
    }
  }

  &--vue {
    background-color: var(--theme-vue);

    &__logo-wrap {
      background-color: var(--theme-vue);
    }
  }

  &--grunt {
    background-color: var(--theme-grunt);

    &__logo-wrap {
      background-color: var(--theme-grunt);
    }
  }
}

@import 'helpers';
@import 'responsive';